/*--- -- ---- -- ---*/
/*--- -- MENU -- ---*/
/*--- -- ---- -- ---*/

header{
    position: relative;
    width: 100%;
    height: 150px;
}

.header{
    position: absolute;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid #0000001a;
    height: auto;
    display: flex;
    justify-content: space-between;
    color: var(--footer-color);
    padding: 30px;
}

.icon{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 22px;
}

.icon i{
    font-size: 30px;
}

.icon span{
    font-weight: bold;
    margin-left: 10px;
    font-size: 20px;
}

.menu{
    width: 100%;
}

.button-menu{
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    font-size: 30px;
    display: none;
}

ul{
    display: flex;
    justify-content: flex-end;
}

li{
    margin: 20px 20px 5px 20px;
    display: flex;
    align-items: center;
}

li a{
    color: var(--footer-color);
    font-size: 20px;
}

li a .bi-x{
    font-size: 30px;
}

.button-central{
    position: absolute;
    top: 115px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.button-central img{
    width: 60px;
}

/*--- -- ---- -- ---*/
/*--- -- MAIN -- ---*/
/*--- -- ---- -- ---*/

main{
    width: 100%;
    height: 100vh;
    padding: 20px;
}

/*--- -- ---------- -- ---*/
/*--- -- BOX-PLANES -- ---*/
/*--- -- ---------- -- ---*/

.box-planes{
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 50px;
}

.box-plan{
    width: 323px;
    height: 286px;
    box-shadow: 1px 3px 10px #0000001a;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.deco1, .deco2,
.deco3, .deco4,
.deco5, .deco6{
    width: 400px;
    height: 100px;
    position: absolute;
}

.deco1, .deco3, .deco5{
    transform: rotate(110deg) translateY(150px) translateX(90px);
}

.deco2, .deco4, .deco6{
    z-index: -1;
    transform: rotate(-5deg) translateY(-20px) translateX(-30px);
}

/*--- -- COLORES (DECO 1-6) -- ---*/

.deco1{
    background-color: #0000001C;
}

.deco2{
    background-color: #80808024;
}

.deco3{
    background-color: #7a19f12d;
}

.deco4{
    background-color: #7a19f1c7;
}

.deco5{
    background-color: #e4bb3477;
}

.deco6{
    background-color: #ffcd00;
}

/*--- -- FIN COLORES (DECO1-6) -- ---*/

.box-title{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    text-transform: uppercase;
}

.box-detalles{
    width: 100%;
    height: 200px;
    max-height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/*--- -- -------- -- ---*/
/*--- -- BOX-FORM -- ---*/
/*--- -- -------- -- ---*/

.box-form{
    width: 100%;
    height: auto;
    padding-top: 30px;
}

.form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.box-contacto{
    font-size: 38px;
    display: flex;
    text-align: center;
    font-weight: 900;
    color: var(--primary-color);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    padding-bottom: 40px;
}

.input-box{
    width: 200px;
    height: 50px;
    border: 1px solid #ffcd00;
}

/*--- -- ---------- -- ---*/
/*--- -- FORMULARIO -- ---*/
/*--- -- ---------- -- ---*/

.content-input1{
    display: flex; 
    gap: 50px; 
    max-width: 100%;
}

.inputBox{
    position: relative;
    width: 645px;
    max-width: 100%;
}

.inputBox1 {
    position: relative;
    width: 300px;
}

.inputBox1 input,
.inputBox textarea {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: var(--footer-color);
    font-size: 1em;
    background: transparent;
    border-left: 2px solid var(--footer-color);
    border-bottom: 2px solid var(--footer-color);
    transition: 0.1s;
    border-bottom-left-radius: 8px;
}

.inputBox span,
.inputBox1 span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: var(--footer-color);
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
}

.inputBox textarea:valid~span,
.inputBox textarea:focus~span,
.inputBox1 input:valid~span,
.inputBox1 input:focus~span {
    transform: translateX(180px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: var(--footer-color);
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}


.inputBox textarea:valid~span,
.inputBox textarea:focus~span{
    transform: translateX(360px) translateY(-15px);
}

.inputBox textarea:valid,
.inputBox textarea:focus,
.inputBox1 input:valid,
.inputBox1 input:focus {
    border: 2px solid var(--footer-color);
    border-radius: 8px;
}

.enter {
    height: 45px;
    width: 300px;
    max-width: 100%;
    border-radius: 15px;
    border: 2px solid var(--footer-color);
    color: var(--footer-color);
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    margin-bottom: 5em;
}

.enter:hover {
    background-color: var(--footer-color);
    color: white;
}

@media screen and (max-width: 600px) {
    .inputBox textarea:valid~span,
    .inputBox textarea:focus~span{
        transform: translateX(260px) translateY(-15px);
    }
}

@media screen and (max-width: 500px) {
    .content-input1{
        flex-direction: column;
    }

    .inputBox1{
        width: 500px;
        max-width: 100%;
    }

    .box-planes{
        width: 100%;
        padding: 50px 0;
    }

    .box-plan{
        max-width: 100%;
    }

    .box-contacto{
        font-size: 30px;
    }

    .inputBox textarea:valid~span,
    .inputBox textarea:focus~span{
        transform: translateX(160px) translateY(-15px);
    }
}

@media screen and (max-width: 400px) {
    .header{
        padding: 30px 0;
    }

    .menu{
        width: 20%;
    }

    li{
        margin: 20px 0px 5px 0px;
    }

    .inputBox textarea:valid~span,
    .inputBox textarea:focus~span{
        transform: translateX(50px) translateY(-15px);
    }
}