.hero{
    position: relative;
    color: #fff;
    background: linear-gradient(to bottom, var(--primary-color), #332179);
    background-attachment: fixed;
}

.hero .section {
    padding-top: 100px;
    padding-bottom: 80px;
}

.hero__inner {
    position: relative;
    background-attachment: fixed;
    padding: 60px 0;
    z-index: 5;
}

.hero h1 {
    line-height: 1.3;
    font-weight: 700;
}

.hero h2 {
    font-size: 18px;
}

.hero .btn {
    background: #f2cf00;
    background: linear-gradient(180deg,#f2cf00 0%,#f2b200 100%);
    box-shadow: 0 2px 3px rgba(0,0,0,.5);
    border: none!important;
    color: rgba(0,0,0,.6);
}

.hero .btn:hover,.hero .btn:active,.hero .btn:focus {
    color: rgba(0,0,0,.6);
    background: linear-gradient(180deg,#ffdc0d 0%,#ffbf0d 100%);
}

.hero a:not(.btn) {
    color: #fff;
    border-bottom: 1px dotted;
}

.hero a:not(.btn):hover,.hero a:not(.btn):active,.hero a:not(.btn):focus {
    text-decoration: none;
    color: #ffcb05;
}

.hero p {
    max-width: 480px;
    margin-right: auto;
    margin-left: auto;
}

.hero:before {
    content: ' ';
    right: 0;
    top: 0;
    opacity: .2;
    left: 0;
    height: 100px;
    position: absolute;
    z-index: 1;
    background-position: center bottom;
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNDQwIDMyMCc+PHBhdGggZmlsbD0nIzUwMDBjYScgZmlsbC1vcGFjaXR5PScwLjknIGQ9J00wLDY0TDYwLDU4LjdDMTIwLDUzLDI0MCw0MywzNjAsODBDNDgwLDExNyw2MDAsMjAzLDcyMCwyNTAuN0M4NDAsMjk5LDk2MCwzMDksMTA4MCwzMTQuN0MxMjAwLDMyMCwxMzIwLDMyMCwxMzgwLDMyMEwxNDQwLDMyMEwxNDQwLDBMMTM4MCwwQzEzMjAsMCwxMjAwLDAsMTA4MCwwQzk2MCwwLDg0MCwwLDcyMCwwQzYwMCwwLDQ4MCwwLDM2MCwwQzI0MCwwLDEyMCwwLDYwLDBMMCwwWic+PC9wYXRoPjwvc3ZnPg==);
}

@media(max-width: 991.98px) {
    .hero:before {
        display:none;
    }
}

.hero:after {
    content: ' ';
    right: 0;
    bottom: 0;
    opacity: 1;
    left: 0;
    height: 230px;
    opacity: .1;
    position: absolute;
    z-index: 1;
    background-position: center top;
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNDQwIDMyMCc+PHBhdGggZmlsbD0nI2ZmZmZmZicgZmlsbC1vcGFjaXR5PScwLjc1JyBkPSdNMCwzMkw2MCw1My4zQzEyMCw3NSwyNDAsMTE3LDM2MCwxNDRDNDgwLDE3MSw2MDAsMTgxLDcyMCwxNjBDODQwLDEzOSw5NjAsODUsMTA4MCw4MEMxMjAwLDc1LDEzMjAsMTE3LDEzODAsMTM4LjdMMTQ0MCwxNjBMMTQ0MCwzMjBMMTM4MCwzMjBDMTMyMCwzMjAsMTIwMCwzMjAsMTA4MCwzMjBDOTYwLDMyMCw4NDAsMzIwLDcyMCwzMjBDNjAwLDMyMCw0ODAsMzIwLDM2MCwzMjBDMjQwLDMyMCwxMjAsMzIwLDYwLDMyMEwwLDMyMFonPjwvcGF0aD48L3N2Zz4=);
}

@media(max-width: 1500px) {
    .hero:after {
        height:200px;
    }
}

@media(max-width: 991.98px) {
    .hero:after {
        height:160px;
    }
}

@media(max-width: 767.98px) {
    .hero:after {
        height:90px;
    }
}

.hero__inner:after {
    content: ' ';
    right: 0;
    bottom: -70px;
    opacity: .1;
    left: 0;
    height: 330px;
    position: absolute;
    z-index: 0;
    background-position: center top;
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNDQwIDMyMCc+PHBhdGggZmlsbD0nI2ZmZmZmZicgZmlsbC1vcGFjaXR5PScxJyBkPSdNMCwyMjRMNjAsMjAyLjdDMTIwLDE4MSwyNDAsMTM5LDM2MCwxMjhDNDgwLDExNyw2MDAsMTM5LDcyMCwxNDkuM0M4NDAsMTYwLDk2MCwxNjAsMTA4MCwxMzguN0MxMjAwLDExNywxMzIwLDc1LDEzODAsNTMuM0wxNDQwLDMyTDE0NDAsMzIwTDEzODAsMzIwQzEzMjAsMzIwLDEyMDAsMzIwLDEwODAsMzIwQzk2MCwzMjAsODQwLDMyMCw3MjAsMzIwQzYwMCwzMjAsNDgwLDMyMCwzNjAsMzIwQzI0MCwzMjAsMTIwLDMyMCw2MCwzMjBMMCwzMjBaJz48L3BhdGg+PC9zdmc+);
}

@media(max-width: 1500px) {
    .hero__inner:after {
        height:270px;
    }
}

@media(max-width: 991.98px) {
    .hero__inner:after {
        height:230px;
    }
}

@media(max-width: 991.98px) {
    .hero__inner:after {
        height:190px;
    }
}

.hero__divider {
    position: relative;
}

.hero__divider>.container {
    z-index: 5;
    position: relative;
}

.hero__divider:after {
    content: ' ';
    opacity: 1;
    right: 0;
    left: 0;
    bottom: -150px;
    height: 200px;
    position: absolute;
    z-index: 0;
    background-position: center top;
    background-size: cover;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNjc5IDE5OC42Jz48cGF0aCBkPSdNODM5LjUgOTYuN0M0ODUuMyA5Ni43IDE3NC41IDU3LjkgMCAwdjE5OC42aDE2NzlWMGMtMTc0LjUgCTU3LjktNDg1LjMgOTYuNy04MzkuNSA5Ni43eicgZmlsbD0nI2ZmZicvPjwvc3ZnPg==);
}